@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling */
html, body, #root {
  height: 100%;
}

body {
  background-color: white;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
